<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<header>
   <% include ./partials/_header %>
</header>

<body>

    <ul>
      <!-- why is it urls? -->
      <!-- reminder the form needs to be inside the loop other wise it will not create seperate forms for each url  -->
      <% for(const url in urls){ %>
      <form method="POST" action="/urls/<%= url %>/delete">
        <li>
          <%= url %> --->
          <a href='/u/<%= url %>'><%= urls[url] %></a>
          <a href = '/urls/<%= url %>'>Edit</a>
          <input type="submit" value="Delete">
        </li>
      </form>
      <%  };  %>
    </ul>
    <form action="/urls/new" method="GET">
      <input type="submit" value="Add more urls">
    </form>
</body>

</html>

